<html>
<style>
    .chart {
        width: 650px;
        height: 500px;
        margin: 10px;
    }
</style>

<body style="background-color: black;">
    <div style='display: flex; flex: 1; justify-content: center; align-items: center; flex-direction: column;'>
        <div style="display: flex; flex-direction: row; height: 500px; margin-bottom: 20px;">
            <img class="chart" src="/static/csp-matt.jpeg">
            <img class="chart" src="/static/nmp-matt.jpeg">
        </div>
        <div style="display: flex; flex-direction: row; height: 500px; margin-bottom: 20px;">

            <img class="chart" src="/static/rtp-matt.jpeg">
            <img class="chart" src="/static/spp-matt.jpeg">

        </div>
        <div style="display: flex; flex-direction: row; height: 500px; margin-bottom: 20px;">

            <img class="chart" src="/static/wpm-matt.jpeg">
        </div>
    </div>
</body>

</html>